.image
{ 
  height:40px ;
  width: auto;
}
:host {
    --sds-c-card-color-background: rgb(242, 248, 249);
}

.button-spacing {
    margin-right: 4px; 
}

.custom-modal-header{
  background-color: black;
}